flows/2024-06-10-moleculer.json
[{"id":"fe7e33e09f70eed9","type":"tab","label":"moleculer","disabled":true,"info":"","env":[]},{"id":"d37530b0fe290ceb","type":"group","z":"fe7e33e09f70eed9","name":"Moleculer Framework Simple Example","style":{"fill":"#777777","label":true,"color":"#000000"},"nodes":["14ec3ed3ea95dc50","0ac39a081e1e74ac","81160dd9d83c8b2e","9f194f612ef58590","801b7e3702812634"],"x":288,"y":53,"w":764,"h":934},{"id":"14ec3ed3ea95dc50","type":"group","z":"fe7e33e09f70eed9","g":"d37530b0fe290ceb","name":"Actions","style":{"fill":"#d1d1d1","label":true},"nodes":["d66028ce8873683b","f38e31e8e6039c0d","2d5c89c868ff8d80","1469d66ddcef64c1","aa3755956e4268c4","a180f448433a2989","4a35aac4029cac41","b2f5225b54fe09b0","6dd9810314d52f80","46944ab8103a2f5d","1d52787f57e936d2"],"x":314,"y":79,"w":712,"h":282},{"id":"0ac39a081e1e74ac","type":"group","z":"fe7e33e09f70eed9","g":"d37530b0fe290ceb","name":"Events","style":{"fill":"#d1d1d1","label":true},"nodes":["e120dbf088d06807","4ee4af2bf4300652","1772d3c8a189fc58","a416e9e30c0d1a8d"],"x":314,"y":379,"w":712,"h":122},{"id":"81160dd9d83c8b2e","type":"group","z":"fe7e33e09f70eed9","g":"d37530b0fe290ceb","name":"Calling Action (Services inside Node-RED)","style":{"fill":"#d1d1d1","label":true},"nodes":["047a18bab802a9cf","75eda94bae68e0e9","93282094e89638d3","d4f65136b6885016","98743a42f0492b06","afb96c4074124ac5","c2dfae1ae0a24d5b","1759eaa42580d965","3fcfd6736dcf3922","9a0e2c5d8bb1f911"],"x":314,"y":519,"w":712,"h":202},{"id":"9f194f612ef58590","type":"group","z":"fe7e33e09f70eed9","g":"d37530b0fe290ceb","name":"Calling Action (Services outside Node-RED)","style":{"fill":"#d1d1d1","label":true},"nodes":["c728b9d269b93c3d","ea0dc0696723ee83","0f92ac7e08484791","9e87d871e8183a8b","3da86261e8cf6a89","169820d2387233c2"],"x":314,"y":739,"w":712,"h":122},{"id":"801b7e3702812634","type":"group","z":"fe7e33e09f70eed9","g":"d37530b0fe290ceb","name":"Calling Action (API Gateway)","style":{"label":true,"fill":"#d1d1d1"},"nodes":["fa23b025e2bcdbd6","0a010cdc6225214f","9b2705a3559aaaa9"],"x":314,"y":879,"w":712,"h":82},{"id":"d66028ce8873683b","type":"function","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"Function ADD","func":"let response = Number(msg.payload.a) + Number(msg.payload.b);\nmsg.payload = response;\nnode.send([null,null,msg]);\nmsg.emit('test.emit',\"OK\");\nmsg.broadcast('test.bcast',\"OK\")\n\nmsg.call('math.sub',{a:9,b:2},{meta:{y:33}}).then((data)=>{\n    msg.payload = data\n    node.send([null,msg])\n}).catch((err)=>{\n    node.error(err, msg)\n})\n\n\nmsg.call('$none.actions').then((data)=>{\n    msg.payload = data\n    node.send([null,msg])\n}).catch((err)=>{\n    node.error(err, msg)\n})\n\nreturn [msg]; // or node.send([msg])","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[["46944ab8103a2f5d","f38e31e8e6039c0d"],["4a35aac4029cac41"]]},{"id":"f38e31e8e6039c0d","type":"debug","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":120,"wires":[]},{"id":"2d5c89c868ff8d80","type":"catch","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"Catch Call Error","scope":["d66028ce8873683b","aa3755956e4268c4"],"uncaught":false,"x":620,"y":320,"wires":[["1469d66ddcef64c1"]]},{"id":"1469d66ddcef64c1","type":"debug","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":320,"wires":[]},{"id":"aa3755956e4268c4","type":"function","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"Function SUB","func":"let response = Number(msg.payload.a) - Number(msg.payload.b);\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["a180f448433a2989","1d52787f57e936d2"]]},{"id":"a180f448433a2989","type":"debug","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":280,"wires":[]},{"id":"4a35aac4029cac41","type":"debug","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"Msg Call inside function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":200,"wires":[]},{"id":"b2f5225b54fe09b0","type":"moleculer-request-action","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","broker":"15fdc347.1238cd","service":"39ab2b37.fd8374","name":"Math Add","topic":"add","x":400,"y":120,"wires":[["d66028ce8873683b"]]},{"id":"6dd9810314d52f80","type":"moleculer-request-action","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","broker":"15fdc347.1238cd","service":"39ab2b37.fd8374","name":"Math Sub","topic":"sub","x":400,"y":160,"wires":[["aa3755956e4268c4"]]},{"id":"46944ab8103a2f5d","type":"moleculer-response-action","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"","x":820,"y":160,"wires":[]},{"id":"1d52787f57e936d2","type":"moleculer-response-action","z":"fe7e33e09f70eed9","g":"14ec3ed3ea95dc50","name":"","x":820,"y":240,"wires":[]},{"id":"e120dbf088d06807","type":"debug","z":"fe7e33e09f70eed9","g":"0ac39a081e1e74ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":420,"wires":[]},{"id":"4ee4af2bf4300652","type":"debug","z":"fe7e33e09f70eed9","g":"0ac39a081e1e74ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":460,"wires":[]},{"id":"1772d3c8a189fc58","type":"moleculer-event","z":"fe7e33e09f70eed9","g":"0ac39a081e1e74ac","broker":"15fdc347.1238cd","service":"39ab2b37.fd8374","name":"","topic":"test.emit","group":"","x":400,"y":420,"wires":[["e120dbf088d06807"]]},{"id":"a416e9e30c0d1a8d","type":"moleculer-event","z":"fe7e33e09f70eed9","g":"0ac39a081e1e74ac","broker":"15fdc347.1238cd","service":"39ab2b37.fd8374","name":"","topic":"test.bcast","group":"","x":400,"y":460,"wires":[["4ee4af2bf4300652"]]},{"id":"047a18bab802a9cf","type":"inject","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"options","v":"{\"meta\":{\"z\":1}}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":2,\"b\":3}","payloadType":"json","x":430,"y":560,"wires":[["3fcfd6736dcf3922"]]},{"id":"75eda94bae68e0e9","type":"debug","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":560,"wires":[]},{"id":"93282094e89638d3","type":"inject","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"Wrong Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":\"wrong data\",\"b\":3}","payloadType":"json","x":430,"y":680,"wires":[["9a0e2c5d8bb1f911"]]},{"id":"d4f65136b6885016","type":"debug","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":600,"wires":[]},{"id":"98743a42f0492b06","type":"catch","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","scope":["9a0e2c5d8bb1f911"],"uncaught":false,"x":630,"y":640,"wires":[["c2dfae1ae0a24d5b"]]},{"id":"afb96c4074124ac5","type":"inject","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":6,\"b\":3}","payloadType":"json","x":430,"y":600,"wires":[["9a0e2c5d8bb1f911"]]},{"id":"c2dfae1ae0a24d5b","type":"debug","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":640,"wires":[]},{"id":"1759eaa42580d965","type":"inject","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":\"5\",\"b\":3}","payloadType":"json","x":430,"y":640,"wires":[["9a0e2c5d8bb1f911"]]},{"id":"3fcfd6736dcf3922","type":"moleculer-call","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","broker":"15fdc347.1238cd","name":"","topic":"math.add","options":"{}","x":620,"y":560,"wires":[["75eda94bae68e0e9"]]},{"id":"9a0e2c5d8bb1f911","type":"moleculer-call","z":"fe7e33e09f70eed9","g":"81160dd9d83c8b2e","broker":"15fdc347.1238cd","name":"","topic":"math.sub","options":"{}","x":620,"y":600,"wires":[["d4f65136b6885016"]]},{"id":"c728b9d269b93c3d","type":"inject","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":410,"y":780,"wires":[["169820d2387233c2"]]},{"id":"ea0dc0696723ee83","type":"debug","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":820,"wires":[]},{"id":"0f92ac7e08484791","type":"inject","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"unesp\"}","payloadType":"json","x":440,"y":820,"wires":[["3da86261e8cf6a89"]]},{"id":"9e87d871e8183a8b","type":"debug","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":780,"wires":[]},{"id":"3da86261e8cf6a89","type":"moleculer-call","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","broker":"15fdc347.1238cd","name":"","topic":"greeter.welcome","options":"{}","x":640,"y":820,"wires":[["ea0dc0696723ee83"]]},{"id":"169820d2387233c2","type":"moleculer-call","z":"fe7e33e09f70eed9","g":"9f194f612ef58590","broker":"15fdc347.1238cd","name":"","topic":"greeter.hello","options":"{}","x":630,"y":780,"wires":[["9e87d871e8183a8b"]]},{"id":"fa23b025e2bcdbd6","type":"inject","z":"fe7e33e09f70eed9","g":"801b7e3702812634","name":"http GET","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":920,"wires":[["0a010cdc6225214f"]]},{"id":"0a010cdc6225214f","type":"http request","z":"fe7e33e09f70eed9","g":"801b7e3702812634","name":"greeter/hello","method":"GET","ret":"obj","paytoqs":"body","url":"http://192.168.200.106:3000/api/greeter/hello","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":920,"wires":[["9b2705a3559aaaa9"]]},{"id":"9b2705a3559aaaa9","type":"debug","z":"fe7e33e09f70eed9","g":"801b7e3702812634","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":920,"wires":[]},{"id":"15fdc347.1238cd","type":"moleculer-config","name":"NATS","options":"{\"nodeID\":\"clientID\", \"transporter\":\"nats://nats:4222\"}"},{"id":"39ab2b37.fd8374","type":"moleculer-service-config","name":"math","version":"","settings":"{}"}]