flows/2024-06-10-compose.json
[{"id":"648a075be3932e11","type":"tab","label":"composer-v1.0.0","disabled":false,"info":"","env":[]},{"id":"d07345782454f6fd","type":"group","z":"648a075be3932e11","name":"PLC Siemens S7 1500 integration with PnP Architecture. GET Timestamps (T0 to Tn) [ms]","style":{"fill":"#a4a4a4","label":true,"stroke":"#a4a4a4","color":"#000000"},"nodes":["993d6b611db75b02","0789b6d5074de28a","01ce57c9527abda0","28b5078b5fbfc6d6","83c9a92ba0c3a0e2","5cd43b803f276952","d7a4d139ef204c4e","12d8b28df2623f0a","286a1d3b33232a1e","2d5c17ff8a6f1c86","47affafe2d8eb95f","94fbfab63a689601","f0ce3a22b2ac00bf","0e407a26ca06832d","3e88443b2d08be6b","8e568c8be4973bad","5d0c507168ee963d"],"x":54,"y":19,"w":1558,"h":1608},{"id":"993d6b611db75b02","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Ping Device (Test)","style":{"fill":"#d1d1d1","label":true},"nodes":["d194c83edea60e0e","6c7694ecd67ae2b3","7ad526863153be85"],"x":94,"y":1091.5,"w":872,"h":97},{"id":"0789b6d5074de28a","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Read S7","style":{"fill":"#e3f3d3","label":true},"nodes":["64283a23b2e83c77","89c3e14fcf9c04d4","10f33fa7d2e54608","06fca22388e8d4fa","1b87e0167f80961d","5d3672f82fef2414","34a7ce1728466387","79b19191f48969a7"],"x":94,"y":379,"w":872,"h":122},{"id":"01ce57c9527abda0","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Write Service","style":{"fill":"#d1d1d1","label":true},"nodes":["c84bd84fb6237a9a","6fcf15d92770d76d","42220992fb7ee039","df5ab35bfadc9379","51acf6eecfbc2f41","e944ab9f45225d51","c2c0a5f93adddfa4","7000ad2a4217b26d","7d749a03564c0856"],"x":94,"y":519,"w":872,"h":122},{"id":"28b5078b5fbfc6d6","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Write S7","style":{"label":true,"fill":"#e3f3d3"},"nodes":["5bbc7a2aeaff221d","a3c7f218ed59a716","bc3170638582290b","3337e2503b24e594","e5ee78c99b5f507c","8b0186614920c67a","30225c193e9c8e5d"],"x":94,"y":799,"w":872,"h":122},{"id":"83c9a92ba0c3a0e2","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Read S7","style":{"fill":"#e3f3d3","label":true},"nodes":["02adc86780477fb9","955e69e3cd5ec3c3","6ad5c8a7e3cd26fb","5cc7d12b131a2a6d","099b4b9df336bf62","18a145a73b0d2540"],"x":94,"y":939,"w":872,"h":82},{"id":"5cd43b803f276952","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Read Service","style":{"fill":"#d1d1d1","label":true},"nodes":["347be9d6f052a5af","cf4792fe7b613fa5","82734d08dae8d3cd","7394fb07e19f0910","53f4d1180f3e6fda","926c3615ea852e64","7a639ffa41a8d70e","e5fd6287c51218b6"],"x":94,"y":659,"w":872,"h":122},{"id":"12d8b28df2623f0a","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Read timestamps","style":{"fill":"#d1d1d1","label":true},"nodes":["7ad1c03cf6360c76","b8c62c6e577dd439","f2b2a3c91ca348b4","2787faa84f481fb7"],"x":994,"y":479,"w":592,"h":122},{"id":"d7a4d139ef204c4e","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Write timestamps","style":{"fill":"#d1d1d1","label":true},"nodes":["e8ebf60a98c5c5c5","6885a1a9810687a3","6725b6b41ad72655","0b335c4bc82d7e03","fdf3cb673955076e","86acdd3799a5d1c9","cc56bab222a7b0fc","ce27ab26f2be08c7","7c21014c204f96bf","3e94db3036aeadd9","23b85b140db8268c","12691bd2916e896d","56fd63c9d151aabe","533b4443e615b8a8","37f803ac71258295","210ffeae5cb78fc2","738f5ff004023f06","f129db87481a8586","c5da835f423efd8e"],"x":994,"y":99,"w":592,"h":362},{"id":"286a1d3b33232a1e","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Delete Timestamp","style":{"fill":"#d1d1d1","label":true},"nodes":["7fee8e9cd406073f","c407db2f5cc20879","7949446f026b7c5c","ade381cec0ee0536"],"x":994,"y":639,"w":592,"h":142},{"id":"2d5c17ff8a6f1c86","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"NATS","style":{"fill":"#ffefbf","label":true},"nodes":["f94c379a2dbba7bf","db19c9731b779ed0","5f974f4e9e7c4803","e78136eede267dce","68178b6aa4789a68","2db19a1bf01c72f2","2d28227b3af2c2c4","c55d1840c31d228d"],"x":94,"y":1199,"w":872,"h":122},{"id":"f0ce3a22b2ac00bf","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Scan Moleculer services","style":{"fill":"#d1d1d1","label":true},"nodes":["1aaca82263bdd954","96880132992fadaa","d978ae210e5a6070","75edfb2662a4346e","014af0dfe8a49cfe","1759a945e3f67ff4","ab2c324b9a259448","9213abc80879a995","34e2d3c0b8148d04","a6f7445fcb299e15","6ec69a92cf8b6176","76fcae34fc2d51d4","a8d62d3ead6f34bf","1750d9b76df18e34","62c9d28a82e8f99a"],"x":94,"y":1339,"w":872,"h":262},{"id":"0e407a26ca06832d","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Samples","style":{"label":true,"fill":"#d1d1d1"},"nodes":["ec63ba313c270d11","4555702cadb57be2","4f09ca705b811f4a","a387d0df18079908","bab4dddb380df993","a1960a395e19e1af","e456ec4362a86504","ffc47e066b562e70","d515d7bed5ff192d"],"x":94,"y":79,"w":872,"h":282},{"id":"3e88443b2d08be6b","type":"group","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Read timestamps","style":{"fill":"#d1d1d1","label":true},"nodes":["56eb112b715e07b0","fe947fc6d9e201d3","0ce04a4940b27f2d","de8ffb56f847902a","029f8585f76225e2"],"x":1014,"y":819,"w":572,"h":162},{"id":"e8ebf60a98c5c5c5","type":"join","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1270,"y":140,"wires":[["6885a1a9810687a3","6725b6b41ad72655"]]},{"id":"6885a1a9810687a3","type":"debug","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":180,"wires":[]},{"id":"6725b6b41ad72655","type":"file","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"","filename":"timestamp.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1490,"y":140,"wires":[[]]},{"id":"0b335c4bc82d7e03","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 5","links":["5d3672f82fef2414"],"x":1145,"y":140,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"fdf3cb673955076e","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 6","links":["2807407a84824a15","1b87e0167f80961d"],"x":1145,"y":180,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"86acdd3799a5d1c9","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 7","links":["7d749a03564c0856"],"x":1145,"y":220,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"cc56bab222a7b0fc","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 8","links":["d99d4853cb6b8f6b","7000ad2a4217b26d"],"x":1145,"y":260,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"ce27ab26f2be08c7","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 9","links":["b146ce80f3a76c40","e5fd6287c51218b6"],"x":1145,"y":300,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"7c21014c204f96bf","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 10","links":["c217ca4689d895b3","eb50e87e18cabe46","7a639ffa41a8d70e"],"x":1145,"y":340,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"3e94db3036aeadd9","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 11","links":["30225c193e9c8e5d"],"x":1145,"y":380,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"23b85b140db8268c","type":"link in","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"link in 12","links":["097a20460d814415","52b8f76d9090cae5","18a145a73b0d2540"],"x":1145,"y":420,"wires":[["e8ebf60a98c5c5c5"]]},{"id":"12691bd2916e896d","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T0","info":"","x":1070,"y":140,"wires":[]},{"id":"56fd63c9d151aabe","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T1","info":"","x":1070,"y":180,"wires":[]},{"id":"533b4443e615b8a8","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T2","info":"","x":1070,"y":220,"wires":[]},{"id":"37f803ac71258295","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T4","info":"","x":1070,"y":300,"wires":[]},{"id":"210ffeae5cb78fc2","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T3","info":"","x":1070,"y":260,"wires":[]},{"id":"738f5ff004023f06","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T5","info":"","x":1070,"y":340,"wires":[]},{"id":"f129db87481a8586","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T6","info":"","x":1070,"y":380,"wires":[]},{"id":"c5da835f423efd8e","type":"comment","z":"648a075be3932e11","g":"d7a4d139ef204c4e","name":"T7","info":"","x":1070,"y":420,"wires":[]},{"id":"d194c83edea60e0e","type":"inject","z":"648a075be3932e11","g":"993d6b611db75b02","name":"Setup devices","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":1140,"wires":[["7ad526863153be85"]]},{"id":"6c7694ecd67ae2b3","type":"debug","z":"648a075be3932e11","g":"993d6b611db75b02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1140,"wires":[]},{"id":"7ad526863153be85","type":"exec","z":"648a075be3932e11","g":"993d6b611db75b02","command":"ping 192.168.200.107","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":400,"y":1140,"wires":[["6c7694ecd67ae2b3"],[],[]]},{"id":"64283a23b2e83c77","type":"s7comm read","z":"648a075be3932e11","g":"0789b6d5074de28a","connection":"e692e4b018f35fdf","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"5\",\"S7_Datatype\":\"DI\",\"S7_Offset\":\"16\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"2\",\"S7_Name\":\"timestamp\"}","s7Name":"timestamp","topic":"","name":"DB5,16","signalSetted":false,"none":"true","repeat":"","once":false,"x":380,"y":460,"wires":[["06fca22388e8d4fa"]]},{"id":"89c3e14fcf9c04d4","type":"debug","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"T1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"10f33fa7d2e54608","type":"debug","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"T0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"06fca22388e8d4fa","type":"function","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"T1","func":"var second = msg.payload.value[0];\nvar nano = msg.payload.value[1];\nmsg.payload = second*1000 //seconds to ms\nmsg.payload = msg.payload+parseInt(nano/1000000)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":460,"wires":[["89c3e14fcf9c04d4","1b87e0167f80961d"]]},{"id":"1b87e0167f80961d","type":"link out","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"link out 1","mode":"link","links":["c2c0a5f93adddfa4","fdf3cb673955076e"],"x":595,"y":460,"wires":[]},{"id":"5d3672f82fef2414","type":"link out","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"link out 6","mode":"link","links":["0b335c4bc82d7e03"],"x":595,"y":420,"wires":[]},{"id":"c84bd84fb6237a9a","type":"function","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"Write to sensor","func":"var value = msg.payload;\nmsg.payload = {\"value\": value}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["6fcf15d92770d76d"]]},{"id":"6fcf15d92770d76d","type":"moleculer-call","z":"648a075be3932e11","g":"01ce57c9527abda0","broker":"15fdc347.1238cd","name":"","topic":"sensor.write","options":"{}","x":570,"y":600,"wires":[["51acf6eecfbc2f41"]]},{"id":"42220992fb7ee039","type":"debug","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"T3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":600,"wires":[]},{"id":"df5ab35bfadc9379","type":"debug","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"T2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"51acf6eecfbc2f41","type":"function","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"T3","func":"msg.payload = msg.payload.timestamp\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":600,"wires":[["42220992fb7ee039","7000ad2a4217b26d"]]},{"id":"e944ab9f45225d51","type":"function","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"T2","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":560,"wires":[["df5ab35bfadc9379","c84bd84fb6237a9a","7d749a03564c0856"]]},{"id":"c2c0a5f93adddfa4","type":"link in","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"link in 1","links":["1b87e0167f80961d","b61cb4b341e4e801","10095cc85ec689ca"],"x":135,"y":560,"wires":[["e944ab9f45225d51"]]},{"id":"7000ad2a4217b26d","type":"link out","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"link out 2","mode":"link","links":["926c3615ea852e64","cc56bab222a7b0fc"],"x":795,"y":600,"wires":[]},{"id":"7d749a03564c0856","type":"link out","z":"648a075be3932e11","g":"01ce57c9527abda0","name":"link out 8","mode":"link","links":["86acdd3799a5d1c9"],"x":335,"y":560,"wires":[]},{"id":"5bbc7a2aeaff221d","type":"s7 out","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","endpoint":"7a603ce79d031661","variable":"DB1,I4","name":"","x":870,"y":880,"wires":[]},{"id":"a3c7f218ed59a716","type":"link in","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"link in 3","links":["7a639ffa41a8d70e"],"x":135,"y":840,"wires":[["3337e2503b24e594"]]},{"id":"bc3170638582290b","type":"function","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"function 3","func":"msg.payload = Math.random()*(32767*2)-(32767);\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":880,"wires":[["8b0186614920c67a","5bbc7a2aeaff221d"]]},{"id":"3337e2503b24e594","type":"function","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"T6","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":840,"wires":[["bc3170638582290b","e5ee78c99b5f507c","30225c193e9c8e5d"]]},{"id":"e5ee78c99b5f507c","type":"debug","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"T6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":840,"wires":[]},{"id":"8b0186614920c67a","type":"link out","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"link out 5","mode":"link","links":["5cc7d12b131a2a6d"],"x":495,"y":880,"wires":[]},{"id":"30225c193e9c8e5d","type":"link out","z":"648a075be3932e11","g":"28b5078b5fbfc6d6","name":"link out 14","mode":"link","links":["f7991f3af6cd9c25","3e94db3036aeadd9"],"x":495,"y":840,"wires":[]},{"id":"02adc86780477fb9","type":"s7comm read","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","connection":"e692e4b018f35fdf","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"5\",\"S7_Datatype\":\"DI\",\"S7_Offset\":\"4052\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"2\",\"S7_Name\":\"timestamp_write\"}","s7Name":"timestamp_write","topic":"","name":"DB5,4052","signalSetted":false,"none":"true","repeat":"","once":false,"x":380,"y":980,"wires":[["6ad5c8a7e3cd26fb"]]},{"id":"955e69e3cd5ec3c3","type":"debug","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","name":"T7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":980,"wires":[]},{"id":"6ad5c8a7e3cd26fb","type":"function","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","name":"T7","func":"var second = msg.payload.value[0];\nvar nano = msg.payload.value[1];\nmsg.payload = second*1000 //seconds to ms\nmsg.payload = msg.payload+parseInt(nano/1000000)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":980,"wires":[["18a145a73b0d2540","955e69e3cd5ec3c3"]]},{"id":"5cc7d12b131a2a6d","type":"link in","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","name":"link in 4","links":["8b0186614920c67a"],"x":135,"y":980,"wires":[["099b4b9df336bf62"]]},{"id":"099b4b9df336bf62","type":"delay","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":980,"wires":[["02adc86780477fb9"]]},{"id":"18a145a73b0d2540","type":"link out","z":"648a075be3932e11","g":"83c9a92ba0c3a0e2","name":"link out 15","mode":"link","links":["221370d044343118","23b85b140db8268c"],"x":595,"y":980,"wires":[]},{"id":"347be9d6f052a5af","type":"function","z":"648a075be3932e11","g":"5cd43b803f276952","name":"T5","func":"msg.payload = msg.payload.timestamp // upload comose v1.0.10\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":740,"wires":[["82734d08dae8d3cd","7a639ffa41a8d70e"]]},{"id":"cf4792fe7b613fa5","type":"moleculer-call","z":"648a075be3932e11","g":"5cd43b803f276952","broker":"15fdc347.1238cd","name":"","topic":"sensor.read","options":"{}","x":570,"y":740,"wires":[["347be9d6f052a5af"]]},{"id":"82734d08dae8d3cd","type":"debug","z":"648a075be3932e11","g":"5cd43b803f276952","name":"T5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":740,"wires":[]},{"id":"7394fb07e19f0910","type":"function","z":"648a075be3932e11","g":"5cd43b803f276952","name":"T4","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":700,"wires":[["53f4d1180f3e6fda","e5fd6287c51218b6","cf4792fe7b613fa5"]]},{"id":"53f4d1180f3e6fda","type":"debug","z":"648a075be3932e11","g":"5cd43b803f276952","name":"T4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":700,"wires":[]},{"id":"926c3615ea852e64","type":"link in","z":"648a075be3932e11","g":"5cd43b803f276952","name":"link in 2","links":["7000ad2a4217b26d"],"x":135,"y":700,"wires":[["7394fb07e19f0910"]]},{"id":"7a639ffa41a8d70e","type":"link out","z":"648a075be3932e11","g":"5cd43b803f276952","name":"link out 3","mode":"link","links":["a3c7f218ed59a716","aa34407140efe15c","7c21014c204f96bf"],"x":795,"y":740,"wires":[]},{"id":"e5fd6287c51218b6","type":"link out","z":"648a075be3932e11","g":"5cd43b803f276952","name":"link out 13","mode":"link","links":["ce27ab26f2be08c7"],"x":595,"y":700,"wires":[]},{"id":"7ad1c03cf6360c76","type":"file in","z":"648a075be3932e11","g":"12d8b28df2623f0a","name":"","filename":"timestamp.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1310,"y":560,"wires":[["f2b2a3c91ca348b4"]]},{"id":"b8c62c6e577dd439","type":"http in","z":"648a075be3932e11","g":"12d8b28df2623f0a","name":"","url":"/timestamp","method":"get","upload":false,"swaggerDoc":"","x":1100,"y":560,"wires":[["7ad1c03cf6360c76"]]},{"id":"f2b2a3c91ca348b4","type":"http response","z":"648a075be3932e11","g":"12d8b28df2623f0a","name":"","statusCode":"","headers":{},"x":1510,"y":560,"wires":[]},{"id":"7fee8e9cd406073f","type":"inject","z":"648a075be3932e11","g":"286a1d3b33232a1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1100,"y":680,"wires":[["c407db2f5cc20879"]]},{"id":"c407db2f5cc20879","type":"file","z":"648a075be3932e11","g":"286a1d3b33232a1e","name":"","filename":"timestamp.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1280,"y":680,"wires":[["7949446f026b7c5c"]]},{"id":"7949446f026b7c5c","type":"debug","z":"648a075be3932e11","g":"286a1d3b33232a1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":680,"wires":[]},{"id":"2787faa84f481fb7","type":"comment","z":"648a075be3932e11","g":"12d8b28df2623f0a","name":"https://10.22.255.161/sfc-root/timestamp","info":"","x":1400,"y":520,"wires":[]},{"id":"f94c379a2dbba7bf","type":"nats-sub","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","address":"nats","port":"4222","user":"","pass":"","subject":"subject","x":700,"y":1240,"wires":[["5f974f4e9e7c4803"]]},{"id":"db19c9731b779ed0","type":"nats-pub","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","address":"nats","port":"4222","user":"","pass":"","subject":"","message":"","x":320,"y":1240,"wires":[]},{"id":"5f974f4e9e7c4803","type":"debug","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1240,"wires":[]},{"id":"e78136eede267dce","type":"inject","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"subject\":\"subject\",\"message\":\"4\"}","payloadType":"json","x":190,"y":1240,"wires":[["db19c9731b779ed0"]]},{"id":"68178b6aa4789a68","type":"debug","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1280,"wires":[]},{"id":"2db19a1bf01c72f2","type":"inject","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"subject\":\"subject\",\"message\":\"message\"}","payloadType":"json","x":190,"y":1280,"wires":[["2d28227b3af2c2c4"]]},{"id":"2d28227b3af2c2c4","type":"nats-pub","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","address":"nats","port":"4222","user":"nats","pass":"","subject":"","message":"","x":320,"y":1280,"wires":[]},{"id":"c55d1840c31d228d","type":"nats-sub","z":"648a075be3932e11","g":"2d5c17ff8a6f1c86","address":"nats","port":"4222","user":"","pass":"","subject":">","x":700,"y":1280,"wires":[["68178b6aa4789a68"]]},{"id":"47affafe2d8eb95f","type":"comment","z":"648a075be3932e11","g":"d07345782454f6fd","name":"Network tools","info":"","x":150,"y":1060,"wires":[]},{"id":"94fbfab63a689601","type":"comment","z":"648a075be3932e11","g":"d07345782454f6fd","name":"GET Timestamps (Click to T0, and wait 5 seconds)","info":"","x":270,"y":60,"wires":[]},{"id":"1aaca82263bdd954","type":"moleculer-call","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","broker":"15fdc347.1238cd","name":"","topic":"$node.services","options":"{}","x":420,"y":1380,"wires":[["d978ae210e5a6070","014af0dfe8a49cfe"]]},{"id":"96880132992fadaa","type":"debug","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1380,"wires":[]},{"id":"d978ae210e5a6070","type":"function","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"Extract Sensor NodeID","func":"// Iterar sobre os itens no payload\nfor (var i = 0; i < msg.payload.length; i++) {\n    var item = msg.payload[i];\n    // Verificar se o nome do item é \"sensor\"\n    if (item.name === \"sensor\") {\n        // Retornar o nodeid do sensor\n        msg.payload = item.nodes;\n        return msg;\n    }\n}\n\n// Se não encontrar, retornar uma mensagem de erro\nmsg.payload = \"Sensor not found\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1380,"wires":[["96880132992fadaa"]]},{"id":"75edfb2662a4346e","type":"inject","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":1380,"wires":[["1aaca82263bdd954"]]},{"id":"014af0dfe8a49cfe","type":"debug","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1420,"wires":[]},{"id":"1759a945e3f67ff4","type":"moleculer-call","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","broker":"15fdc347.1238cd","name":"","topic":"sensor.aas","options":"{}","x":470,"y":1480,"wires":[["9213abc80879a995"]]},{"id":"ab2c324b9a259448","type":"inject","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"All submodels","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":210,"y":1480,"wires":[["1759a945e3f67ff4"]]},{"id":"9213abc80879a995","type":"debug","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1480,"wires":[]},{"id":"34a7ce1728466387","type":"function","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"T0","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":420,"wires":[["10f33fa7d2e54608","5d3672f82fef2414","64283a23b2e83c77"]]},{"id":"ec63ba313c270d11","type":"inject","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"0","payloadType":"str","x":270,"y":200,"wires":[["4555702cadb57be2"]]},{"id":"4555702cadb57be2","type":"function","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"counter","func":"let count = parseInt(msg.payload);\nlet maxCount = flow.get('maxCount');\nif (count < maxCount) {\n    msg.payload = count + 1;\n    return [msg, msg]; // Continue counting\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Done\" });\n    return null; // Stop when count reaches maxCount\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["4f09ca705b811f4a","d515d7bed5ff192d"],["a387d0df18079908"]]},{"id":"4f09ca705b811f4a","type":"delay","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":690,"y":260,"wires":[["4555702cadb57be2"]]},{"id":"a387d0df18079908","type":"debug","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"","active":true,"console":false,"complete":"payload","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"bab4dddb380df993","type":"inject","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"Set Max Count","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":220,"y":120,"wires":[["a1960a395e19e1af","e456ec4362a86504"]]},{"id":"a1960a395e19e1af","type":"change","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"Store Max Count","rules":[{"t":"set","p":"maxCount","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":120,"wires":[[]]},{"id":"ade381cec0ee0536","type":"link in","z":"648a075be3932e11","g":"286a1d3b33232a1e","name":"link in 13","links":["e456ec4362a86504"],"x":1145,"y":740,"wires":[["c407db2f5cc20879"]]},{"id":"e456ec4362a86504","type":"link out","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"link out 16","mode":"link","links":["ade381cec0ee0536"],"x":355,"y":140,"wires":[]},{"id":"ffc47e066b562e70","type":"comment","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"Delete timestamp before start","info":"","x":500,"y":140,"wires":[]},{"id":"79b19191f48969a7","type":"link in","z":"648a075be3932e11","g":"0789b6d5074de28a","name":"link in 14","links":["d515d7bed5ff192d"],"x":135,"y":420,"wires":[["34a7ce1728466387"]]},{"id":"d515d7bed5ff192d","type":"link out","z":"648a075be3932e11","g":"0e407a26ca06832d","name":"link out 17","mode":"link","links":["79b19191f48969a7"],"x":925,"y":200,"wires":[]},{"id":"34e2d3c0b8148d04","type":"inject","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"Value of Submodel Element","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"idShortSubmodel\":\"OperationalData\",\"idShortSubmodelElement\":\"Percentage\",\"format\":\"value\"}","payloadType":"json","x":260,"y":1560,"wires":[["a6f7445fcb299e15"]]},{"id":"a6f7445fcb299e15","type":"moleculer-call","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","broker":"15fdc347.1238cd","name":"","topic":"sensor.aas","options":"{}","x":470,"y":1560,"wires":[["6ec69a92cf8b6176"]]},{"id":"6ec69a92cf8b6176","type":"debug","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1560,"wires":[]},{"id":"76fcae34fc2d51d4","type":"comment","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"equivalent to sensor.read","info":"","x":670,"y":1560,"wires":[]},{"id":"a8d62d3ead6f34bf","type":"inject","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"Complete Submodel Element","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"idShortSubmodel\":\"OperationalData\",\"idShortSubmodelElement\":\"Percentage\",\"format\":\"complete\"}","payloadType":"json","x":260,"y":1520,"wires":[["1750d9b76df18e34"]]},{"id":"1750d9b76df18e34","type":"moleculer-call","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","broker":"15fdc347.1238cd","name":"","topic":"sensor.aas","options":"{}","x":470,"y":1520,"wires":[["62c9d28a82e8f99a"]]},{"id":"62c9d28a82e8f99a","type":"debug","z":"648a075be3932e11","g":"f0ce3a22b2ac00bf","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":1520,"wires":[]},{"id":"56eb112b715e07b0","type":"file in","z":"648a075be3932e11","g":"3e88443b2d08be6b","name":"","filename":"out.txt","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1290,"y":900,"wires":[["0ce04a4940b27f2d"]]},{"id":"fe947fc6d9e201d3","type":"http in","z":"648a075be3932e11","g":"3e88443b2d08be6b","name":"","url":"/out","method":"get","upload":false,"swaggerDoc":"","x":1100,"y":880,"wires":[["56eb112b715e07b0"]]},{"id":"0ce04a4940b27f2d","type":"http response","z":"648a075be3932e11","g":"3e88443b2d08be6b","name":"","statusCode":"","headers":{},"x":1510,"y":900,"wires":[]},{"id":"de8ffb56f847902a","type":"comment","z":"648a075be3932e11","g":"3e88443b2d08be6b","name":"https://10.22.255.161/sfc-root/out","info":"","x":1370,"y":860,"wires":[]},{"id":"029f8585f76225e2","type":"file","z":"648a075be3932e11","g":"3e88443b2d08be6b","name":"","filename":"out.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":940,"wires":[[]]},{"id":"5d0c507168ee963d","type":"file","z":"648a075be3932e11","g":"d07345782454f6fd","name":"","filename":"out.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1310,"y":1040,"wires":[[]]},{"id":"8e568c8be4973bad","type":"inject","z":"648a075be3932e11","g":"d07345782454f6fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1040,"wires":[["5d0c507168ee963d"]]},{"id":"e692e4b018f35fdf","type":"s7comm","ip":"192.168.200.2","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"I","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"in"},{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"uint32","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"out"},{"S7_Type":"DB","S7_DBnum":"5","S7_Datatype":"DI","S7_Offset":"16","S7_BitOffset":"0","S7_Quantity":"2","S7_Name":"timestamp"},{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"CHAR","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"out4"},{"S7_Type":"DB","S7_DBnum":"5","S7_Datatype":"DI","S7_Offset":"4052","S7_BitOffset":"0","S7_Quantity":"2","S7_Name":"timestamp_write"}]},{"id":"15fdc347.1238cd","type":"moleculer-config","name":"NATS","options":"{\"nodeID\":\"clientID\", \"transporter\":\"nats://nats:4222\"}"},{"id":"7a603ce79d031661","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.200.2","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"DB1,I0","name":"DB1,I0"},{"addr":"DB1,I4","name":"DB1,I4"}]}]