flows/wind-speed.json
[
    {
        "id": "18824dc7b57d73f8",
        "type": "tab",
        "label": "wind-speed",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c901de66b874b039",
        "type": "bigtimer",
        "z": "18824dc7b57d73f8",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": 5001,
        "endtime": 1425,
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 200,
        "y": 120,
        "wires": [
            [],
            [
                "22c96e150028f709"
            ],
            []
        ]
    },
    {
        "id": "e62081313a44e7db",
        "type": "inject",
        "z": "18824dc7b57d73f8",
        "name": "Force test",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "22c96e150028f709"
            ]
        ]
    },
    {
        "id": "22c96e150028f709",
        "type": "function",
        "z": "18824dc7b57d73f8",
        "name": "Simulate an input",
        "func": "var theval = Math.floor(Math.random()*20);\nmsg.payload = {location: \"Boituva\", tmeperature: theval}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "a72aaa16b465ad6a"
            ]
        ]
    },
    {
        "id": "a72aaa16b465ad6a",
        "type": "influxdb out",
        "z": "18824dc7b57d73f8",
        "influxdb": "b7cc3cb4bbdd226d",
        "name": "",
        "measurement": "mytemps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc3234ec1ee92132",
        "type": "comment",
        "z": "18824dc7b57d73f8",
        "name": "Insere um valor simulado no banco de dados.",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "cef59860643b6185",
        "type": "comment",
        "z": "18824dc7b57d73f8",
        "name": "Faz a leitura dos valores de temperatura no banco e mostra em um dashboard.",
        "info": "",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "7507e82998bc017c",
        "type": "function",
        "z": "18824dc7b57d73f8",
        "name": "New Time Scale",
        "func": "msg.query = \"select time\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "1fc2d12be56e993c"
            ]
        ]
    },
    {
        "id": "1fc2d12be56e993c",
        "type": "influxdb in",
        "z": "18824dc7b57d73f8",
        "influxdb": "b7cc3cb4bbdd226d",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "74905b53c8842f1d",
                "9c87f7317f9e58e4",
                "e516628be33b0390"
            ]
        ]
    },
    {
        "id": "74905b53c8842f1d",
        "type": "debug",
        "z": "18824dc7b57d73f8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c87f7317f9e58e4",
        "type": "function",
        "z": "18824dc7b57d73f8",
        "name": "function 2",
        "func": "//\n// Format the InfluxDB results to match the charts JSON format\n//\n\nvar series = [\"temp DegC\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{ \"series\": series, \"data\": jsondata, \"labels\": labels }];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e516628be33b0390",
        "type": "ui_chart",
        "z": "18824dc7b57d73f8",
        "name": "",
        "group": "c7bffd5f2dc3042f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0579efd8f8ca64f2",
        "type": "ui_dropdown",
        "z": "18824dc7b57d73f8",
        "name": "",
        "label": "Time Scale",
        "tooltip": "",
        "place": "15 Minutes",
        "group": "c7bffd5f2dc3042f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 Minutes",
                "value": "1m",
                "type": "str"
            },
            {
                "label": "5 Minutes",
                "value": "5m",
                "type": "str"
            },
            {
                "label": "15 Minutes",
                "value": "15m",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "7507e82998bc017c"
            ]
        ]
    },
    {
        "id": "b7cc3cb4bbdd226d",
        "type": "influxdb",
        "hostname": "192.168.15.3",
        "port": "8086",
        "protocol": "http",
        "database": "nrdb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c7bffd5f2dc3042f",
        "type": "ui_group",
        "name": "Default",
        "tab": "93de31453dfcee60",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93de31453dfcee60",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]